<br/><br/><br/><br/><br/><br/>

<section> la valeur {{attribute}}</section>
<section><button (click)="retrieveValue()">Retrieve</button></section>

<!--<br/><br/><br/>-->
<!--<div class="text-center m-t-xl"></div>-->
<!--<div  id="rayons"  style="background-color: #e9eaec;">-->
    <!--<div class="row">-->
        <!--<br/><br />-->
        <!--<div class="wrapsemibox">-->
        <!--<div class="semiboxshadow text-center">-->
          <!--<img src="assets/images/shp.png" class="img-responsive" alt="">-->
        <!--</div>-->
        <!--<div class="container">-->
            <!--<div class="row m-b-lg">-->
                <!--<div class="col-sm-9">-->
                    <!--<a routerLink="/liste" routerLinkActive="btn-primary active" class="btn btn-sm m-b-xs m-r" data-toggle="tooltip" data-placement="right" title="Mes listes"><i class="fa fa-th-large"></i> <strong class="hidden-xs">Mes Listes</strong></a>-->
                    <!--<a routerLink="/historique" routerLinkActive="btn-primary active" class="btn btn-sm btn-default m-b-xs" data-toggle="tooltip" data-placement="right" title="Historique"><i class="fa fa-history"></i> <strong class="hidden-xs">Historique</strong></a>-->
                <!--</div>-->
                <!--<div class="col-sm-3 text-right text-left-xs">-->
                    <!--<div class="btn-group m-r">-->
                        <!--<button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">-->
                            <!--<span class="dropdown-label" data-placeholder="Tout">Tout</span>-->
                            <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu animated fadeInLeft dropdown-select">-->
                            <!--<li><a href="#"><input type="checkbox" name="d-s-c-1">Option1</a></li>-->
                            <!--<li><a href="#"><input type="checkbox" name="d-s-c-2">Option2</a></li>-->
                            <!--<li><a href="#"><input type="checkbox" name="d-s-c-3">Option3</a></li>-->
                            <!--<li><a href="#"><input type="checkbox" name="d-s-c-4">Option4</a></li>-->
                            <!--<li><a href="#"><input type="checkbox" name="d-s-c-5">Option5</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="btn-group">-->
                        <!--<a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">Filtrer <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu animated fadeInRight text-left pull-right pull-none-xs">-->
                            <!--<li><a href="#">Nombre de produit</a></li>-->
                            <!--<li><a href="#">Date de création</a></li>-->
                            <!--<li><a href="#">Dernière modification</a></li>-->
                            <!--<li><a href="#">Prix</a></li>-->
                        <!--</ul>-->
                     <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row m-b">-->
                <!--<div class="col-xs-12 col-sm-6 col-md-4 animated zoomIn">-->
                    <!--<section class="panel b-a card">-->
                        <!--<div class="panel-heading no-border bg-primary lt">-->
                            <!--<div class=" pull-right  dk m-t-none btn btn-sm btn-rounded text-white" data-toggle="tooltip" data-placement="top" title="Nbre de produits" style="margin-top: 5px;"><strong>4</strong> <i class="fa fa-product-hunt"></i></div>-->
                            <!--<a href="#" class="h4 text-lt m-t-sm m-b-sm block font-bold">Course pour bb</a>-->
                        <!--</div>-->
                        <!--<div class="panel-body">-->
                            <!--<div class="">-->
                                <!--<ul class="list-group gutter list-group-lg list-group-sp sortable scrollable" style="height: 200px;">-->
                                    <!--<li class="list-group-item bg-primary  list-course-item">-->
                                        <!--<span class="pull-right thumb avatar m-l m-r-n-xs bg-gradient box-shadow">-->
                                            <!--<img src="assets/images/PRODUITS/cereal.png" class="dker img-responsive" alt="...">-->
                                        <!--</span>-->
                                        <!--<span class="pull-right" >-->
                                            <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                            <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                            <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                        <!--</span>-->
                                        <!--<div class="text-ellipsis text-white">Céréal Cérélac</div>-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item bg-primary m-t-md list-course-item">-->
                                        <!--<span class="pull-right thumb avatar m-l m-r-n-xs bg-gradient box-shadow">-->
                                            <!--<img src="assets/images/PRODUITS/laitcrans.png" class="dker img-responsive" alt="...">-->
                                        <!--</span>-->
                                        <!--<span class="pull-right" >-->
                                            <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                            <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                            <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                        <!--</span>-->
                                        <!--<div class="text-ellipsis text-white">Laitcrans</div>-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item bg-primary m-t-md list-course-item">-->
                                        <!--<span class="pull-right thumb avatar m-l m-r-n-xs bg-gradient">-->
                                            <!--<img src="assets/images/PRODUITS/lait_en_poudre.png" class="dker img-responsive" alt="...">-->
                                        <!--</span>-->
                                        <!--<span class="pull-right" >-->
                                            <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                            <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                            <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                        <!--</span>-->
                                        <!--<div class="text-ellipsis text-white">Nido 150g</div>-->
                                    <!--</li>-->
                                    <!--<li class="list-group-item bg-primary m-t-md list-course-item">-->
                                        <!--<span class="pull-right thumb avatar m-l m-r-n-xs bg-gradient">-->
                                            <!--<img src="assets/images/PRODUITS/lait_liquide.png" class="dker img-responsive" alt="...">-->
                                        <!--</span>-->
                                        <!--<span class="pull-right" >-->
                                            <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                            <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                            <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                        <!--</span>-->
                                        <!--<div class="text-ellipsis text-white">Dano 1L</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="clearfix panel-footer">-->
                            <!--<div class="text-center text-black">Total: <span>4500 Ffcfa</span></div>-->
                        <!--</div>-->
                    <!--</section>-->
                <!--</div>-->
                <!--<div class="col-xs-12 col-sm-6 col-md-4 animated zoomIn">-->
                  <!--<section class="panel b-a card">-->
                    <!--<div class="panel-heading no-border bg-primary lt">-->
                      <!--<div class=" pull-right  dk m-t-none btn btn-sm btn-rounded text-white" data-toggle="tooltip" data-placement="left" title="Nbre de produits" style="margin-top: 5px;"><strong>2</strong> <i class="fa fa-product-hunt"></i></div>-->
                      <!--<a href="#" class="h4 text-lt m-t-sm m-b-sm block font-bold">15/08/2017</a>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                      <!--<div class="">-->
                        <!--<ul class="list-group gutter list-group-lg list-group-sp sortable scrollable" style="height: 200px;">-->
                          <!--<li class="list-group-item bg-primary list-course-item">-->
                                                            <!--<span class="pull-right thumb avatar m-l m-r-n-sm bg-gradient box-shadow">-->
                                                                <!--<img src="assets/images/PRODUITS/sucre.png" class="dker img-responsive" alt="...">-->
                                                            <!--</span>-->
                            <!--<span class="pull-right" >-->
                                                              <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                                              <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                                              <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                                            <!--</span>-->
                            <!--<div class="text-ellipsis text-white">Sucre Saint Louis</div>-->
                          <!--</li>-->
                          <!--<li class="list-group-item bg-primary m-t-md list-course-item">-->
                                                            <!--<span class="pull-right thumb avatar m-l m-r-n-xs bg-gradient">-->
                                                                <!--<img src="assets/images/PRODUITS/savon.png" class="dker img-responsive" alt="...">-->
                                                            <!--</span>-->
                            <!--<span class="pull-right" >-->
                                                              <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                                              <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                                              <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                                            <!--</span>-->
                            <!--<div class="text-ellipsis text-white">Savonnette Protex</div>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="clearfix panel-footer">-->
                      <!--<div class="text-center text-black">Total: <span>4500 Ffcfa</span></div>-->
                    <!--</div>-->
                  <!--</section>-->
                <!--</div>-->
                <!--<div class="col-xs-12 col-sm-6 col-md-4 animated zoomIn">-->
                  <!--<section class="panel b-a card">-->
                    <!--<div class="panel-heading no-border bg-primary lt">-->
                      <!--<div class=" pull-right  dk m-t-none btn btn-sm btn-rounded text-white" data-toggle="tooltip" data-placement="left" title="Nbre de produits" style="margin-top: 5px;"><strong>3</strong> <i class="fa fa-product-hunt"></i></div>-->
                      <!--<a href="#" class="h4 text-lt m-t-sm m-b-sm block font-bold">Course du Week end</a>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                      <!--<div class="">-->
                        <!--<ul class="list-group gutter list-group-lg list-group-sp sortable scrollable" style="height: 200px;">-->
                          <!--<li class="list-group-item bg-primary list-course-item">-->
                                                            <!--<span class="pull-right thumb avatar m-l m-r-n-xs bg-gradient box-shadow">-->
                                                                <!--<img src="assets/images/PRODUITS/Huile.png" class="dker img-responsive" alt="...">-->
                                                            <!--</span>-->
                            <!--<span class="pull-right" >-->
                                                              <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                                              <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                                              <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                                            <!--</span>-->
                            <!--<div class="text-ellipsis text-white">Huile Lessieur 1L</div>-->
                          <!--</li>-->
                          <!--<li class="list-group-item bg-primary m-t-md list-course-item">-->
                                                            <!--<span class="pull-right thumb avatar m-l m-r-n-xs bg-gradient">-->
                                                                <!--<img src="assets/images/PRODUITS/lessive.png" class="dker img-responsive" alt="...">-->
                                                            <!--</span>-->
                            <!--<span class="pull-right" >-->
                                                              <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                                              <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                                              <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                                            <!--</span>-->
                            <!--<div class="text-ellipsis text-white">Lessive Madar 1,5L</div>-->
                          <!--</li>-->

                          <!--<li class="list-group-item bg-primary m-t-md list-course-item">-->
                                                            <!--<span class="pull-right thumb avatar m-l m-r-n-sm bg-gradient">-->
                                                                <!--<img src="assets/images/PRODUITS/nescafe.png" class="dker img-responsive" alt="...">-->
                                                            <!--</span>-->
                            <!--<span class="pull-right" >-->
                                                              <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                                              <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                                              <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                                            <!--</span>-->
                            <!--<div class="text-ellipsis text-white">Café Nescafé</div>-->
                          <!--</li>-->

                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="clearfix panel-footer">-->
                      <!--<div class="text-center text-black">Total: <span>4500 Ffcfa</span></div>-->
                    <!--</div>-->
                  <!--</section>-->
                <!--</div>-->
                <!--<div class="col-xs-12 col-sm-6 col-md-4 animated zoomIn">-->
                  <!--<section class="panel b-a card">-->
                    <!--<div class="panel-heading no-border bg-primary lt">-->
                      <!--<div class=" pull-right  dk m-t-none btn btn-sm btn-rounded text-white" data-toggle="tooltip" data-placement="left" title="Nbre de produits" style="margin-top: 5px;"><strong>3</strong> <i class="fa fa-product-hunt"></i></div>-->
                      <!--<a href="#" class="h4 text-lt m-t-sm m-b-sm block font-bold">Course pour bb</a>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                      <!--<div class="">-->
                        <!--<ul class="list-group gutter list-group-lg list-group-sp sortable scrollable" style="height: 200px;">-->
                          <!--<li class="list-group-item bg-primary list-course-item">-->
                                                            <!--<span class="pull-right thumb avatar m-l m-r-n-sm bg-gradient box-shadow">-->
                                                                <!--<img src="assets/images/PRODUITS/pates.png" class="dker img-responsive" alt="...">-->
                                                            <!--</span>-->
                            <!--<span class="pull-right" >-->
                                                              <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                                              <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                                              <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                                            <!--</span>-->
                            <!--<div class="text-ellipsis text-white">Pattes</div>-->
                          <!--</li>-->
                          <!--<li class="list-group-item bg-primary m-t-md list-course-item">-->
                                                            <!--<span class="pull-right thumb avatar m-l m-r-n-sm bg-gradient">-->
                                                                <!--<img src="assets/images/PRODUITS/halib.png" class="dker img-responsive" alt="...">-->
                                                            <!--</span>-->
                            <!--<span class="pull-right" >-->
                                                              <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                                              <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                                              <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                                            <!--</span>-->
                            <!--<div class="text-ellipsis text-white">Lait Halib</div>-->
                          <!--</li>-->
                          <!--<li class="list-group-item bg-primary m-t-md list-course-item">-->
                                                            <!--<span class="pull-right thumb avatar m-l m-r-n-sm bg-gradient">-->
                                                                <!--<img src="assets/images/PRODUITS/chips.png" class="dker img-responsive" alt="...">-->
                                                            <!--</span>-->
                            <!--<span class="pull-right" >-->
                                                              <!--<a href="#"><i class="fa fa-plus text-white m-r-xs"></i></a>-->
                                                              <!--<a href="#"><span class="m-r-xs text-white" readonly="true">0</span></a>-->
                                                              <!--<a href="#"><i class="fa fa-minus text-white "></i></a>-->
                                                            <!--</span>-->
                            <!--<div class="text-ellipsis text-white">Chips Pringles</div>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="clearfix panel-footer">-->
                      <!--<div class="text-center text-black">Total: <span>4500 Ffcfa</span></div>-->
                    <!--</div>-->
                  <!--</section>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div>-->
                <!--<div class="btn-group pull-right">-->
                  <!--<button type="button" class="btn btn-sm btn-default btn-rounded"><i class="i i-arrow-left4"></i></button>-->
                  <!--<button type="button" class="btn btn-sm btn-default btn-rounded"><i class="i i-arrow-right4"></i></button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->