<header id="header" class="navbar navbar-fixed-top bg-none dk" data-spy="affix" data-offset-top="2">
    <div class="container m-t m-b">
        <div class="col-sm-1 navbar-header dk" >
            <a routerLink="/" class="navbar-brand m-t-xs  ">
                <img src="assets/images/superette.png" class="" alt="scale">
            </a>
            <a class="pull-right btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
                <i class="fa fa-cog"></i>
            </a>
            <br/>
        </div>
        <div class="col-sm-11 m-t">
            <div class="row">
                <div class="col-sm-6 col-md-7">
                    <div class="form-group">
                        <div class="input-group m-t-xs box-shadow header-search cardhover">
                            <input type="search"  class="form-control input-sm no-borders" style="height: 100% !important;font-size:16px; " [(ngModel)]="nomproduit">
                            <span class="input-group-btn border-radius">
                                <button (click)="gotosearch()" type="button"  class="btn btn-sm bg-white b-white btn-icon pull-right" style="height: 100% !important;border: 1px solid rgba(255,255,255,0.1);">
                                    <a><i class="fa fa-search text-primary"></i></a>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5">
                    <ul class="nav navbar-nav navbar-right hidden-xs nav-user user">
                        <li class=" hidden-xs active m-r" data-toggle="tooltip" data-placement="bottom" data-title="CADDY">
                            <a class="dropdown-toggle text-black m-b-sm active" data-toggle="dropdown">
                                <i class="fa fa-shopping-cart" ></i> <span class="hidden-md hidden-sm ">CADDY</span>
                                <span class="badge badge-sm up bg-danger count">2</span>
                            </a>
                            <section class="m-t-lg dropdown-menu aside-lg on animated fadeInUp" >
                                <span class="arrow top "></span>
                                <div class="row text-black m-l-none m-r-none m-t-n-xxs m-b text-center">
                                    <div class="row m-t m-l-sm m-r-sm" style="padding: 0px 5px 0px 5px ;">
                                        <div class="pull-left">
                                            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                                            <span class="m-l-sm m-r">Laitcrans</span>
                                        </div>
                                        <div class="m-t-xs pull-right">
                                            <span><u>20000 Fcfa</u></span>
                                        </div>
                                    </div>
                                    <div class="row  m-t m-l-sm m-r-sm" style="padding: 0px 5px 0px 5px ;">
                                        <div class="pull-left">
                                            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                                            <span class="m-l-sm m-r">Laitcrans</span>
                                        </div>
                                        <div class="m-t-xs pull-right">
                                            <span><u>20000 Fcfa</u></span>
                                        </div>
                                    </div>
                                    <div class="row m-t m-l-sm m-r-sm" style="padding: 0px 5px 0px 5px ;">
                                        <div class="pull-left">
                                            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                                            <span class="m-l-sm m-r">Laitcrans</span>
                                        </div>
                                        <div class="m-t-xs pull-right">
                                            <span><u>20000 Fcfa</u></span>
                                        </div>
                                    </div>
                                    <p class="text-center m-t-md ">
                                        <button type="button" class="btn bg-primary text-white card m-b-n" style="border:10px solid #177bbb;">
                                            <i class="fa fa-arrow-right"></i> <a routerLink="/livraison" class="text-white"><strong>VOIR DETAILS</strong></a>
                                        </button>
                                    </p>
                                </div>
                            </section>
                        </li>
                        <li routerLink="/liste" routerLinkActive="active" class="border-radius m-r m-t-n-xxs card">
                            <a routerLink="/liste" class="bg-white" data-toggle="tooltip" data-placement="bottom" data-title="Liste">
                                <strong class="text-u-l"><i class="fa fa-th-large visible-sm"></i><span class="hidden-sm">LITE</span></strong>
                            </a>
                        </li>
                        <li routerLink="/historique" routerLinkActive="active" class="border-radius m-r m-t-n-xxs card ">
                            <a routerLink="/historique" class="bg-white" data-toggle="tooltip" data-placement="bottom" data-title="Historique">
                                <strong class="text-u-l"><i class="fa fa-history visible-sm"></i><span class="hidden-sm">HISTORIQUE</span></strong>
                            </a>
                        </li>
                        <li class=" dropdown active m-r">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="thumb avatar bg-gradient pull-left">
                                    <img src="assets/images/a0.png"  class="dker" alt="...">
                                </span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right animated fadeInRight">
                                <li class="" style="cursor: pointer;">
                                    <a id="aff_sidebar_form" href="#sidebar_form" data-toggle="class:hide">Connexion</a>
                                </li>
                                <li>
                                    <a routerLink="/parametres">Paramètres</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>