<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-product animated zoomIn">
    <div class="panel panel-default card border-card ">
        <div class="floation-img" *ngIf="surface">
            <div class="rayon-logo">
                <img class="img-responsive img-rounded" [src]="surface.image" alt="">
            </div>
        </div>
        <div class="panel-body">
            <img *ngIf="produit" [src]="produit.image" alt="Produit Image">
            <div class="pull-right small-btn dropup">
                <a class="btn btn-default dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu animated dropdown-menu-left fadeInLeft">
                    <li class="panel panel-default list-courses scrollable">
                        <div class="list-group">
                            <div class="list-group-item">
                                <span class="text-ellipsis m-l-n-sm " data-toggle="tooltip" title="Liste courses 1 fdf" data-placement="left">
                                    <a href="javascript:void(0);" class="btn btn-product-cart-plus" >
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    Liste courses 1 fdf
                                </span>
                            </div>
                            <div class="list-group-item">
                                <span class="text-ellipsis m-l-n-sm " data-toggle="tooltip" title="Liste courses 1 fdf" data-placement="left">
                                    <a href="javascript:void(0);" class="btn btn-product-cart-plus" >
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    Liste courses 1 fdf
                                </span>
                            </div>
                            <div class="list-group-item">
                                <span class="text-ellipsis m-l-n-sm " data-toggle="tooltip" title="Liste courses 1 fdf" data-placement="left">
                                    <a href="javascript:void(0);" class="btn btn-product-cart-plus" >
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    Liste courses 1 fdf
                                </span>
                            </div>
                            <div class="list-group-item">
                                <span class="text-ellipsis m-l-n-sm " data-toggle="tooltip" title="Liste courses 1 fdf" data-placement="left">
                                    <a href="javascript:void(0);" class="btn btn-product-cart-plus" >
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    Liste courses 1 fdf
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--<a class="btn btn-default " href="javascript:void(0)" [popover]="content" popoverTitle='Ajout a la liste' popoverPlacement="left">-->
                    <!--<i class="fa fa-ellipsis-h" aria-hidden="true"></i>-->

                <!--</a>-->
                <!--<popover-content #content>-->
                    <!--<div class="form-inline" style="width: 140px; text-align: center;"><div class="form-group"><select class="form-control bg-primary" style="width: 70px;"><option>List</option><option>Liste course 1</option><option>Liste course 2</option><option>Liste course 3</option><option>Liste course 4</option></select>&nbsp;<button class="btn btn-default"><i class="fa fa-plus"></i></button></div></div>-->
                    <!--&lt;!&ndash;<div class="" style="width: 150px;height: 100%">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<div class="col-xs-9">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<select name="liste" id="" class="form-control" [(ngModel)]="selectedListe">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<option value="" selected>-&#45;&#45;Listes-&#45;&#45;</option>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<option *ngFor="let data of user[0].listes" [value]="data.code">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<span class="text-ellipsis" title="{{data.libelle}}" data-toggle="tooltip" data-placement="bottom" data-html="true">{{data.libelle}}</span>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;</option>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;</select>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<div class="col-xs-3 row">&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<button class="btn btn-default" (click)="addToListe()"><i class="fa fa-plus"></i></button>&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</popover-content>-->

            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left btn-group-vertical">
                <button type="button" class="btn bg-white btn-product-cart-plus" (click)="actionToCommande('+')"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn bg-white disabled box-shadow" >
                    <span >{{ cartItem ? cartItem.quantity : 0}}</span>
                </button>
                <button type="button" [ngClass]=" cartItem ? cartItem.quantity > 0 ? '' : 'disabled' : 'disabled' " class="btn  bg-white btn-product-cart-minus" (click)="actionToCommande('-')"><i class="fa fa-minus"></i></button>
            </div>
            <div class="list-group">
                <div *ngIf="produit.description.length > 25" class="list-group-item text-ellipsis" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{produit.description}}">
                    <span>{{produit.designation}}</span>
                </div>
                <div *ngIf="produit.description.length <= 25" class="list-group-item text-ellipsis">
                    <span>{{produit.designation}}</span>
                </div>
                <div class="list-group-item clear"> {{produit.description}}</div>
                <div class="list-group-item clear"> Prix: {{produit.prix}} FCFA </div>
            </div>
        </div>
    </div>
</div>
