<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-product">
    <div class="panel panel-default card border-card">
        <div class="floation-img" *ngIf="surface">
            <div class="rayon-logo">
                <img class="img-responsive img-rounded" [src]="surface.image" alt="">
            </div>
        </div>
        <div class="panel-body">
            <img *ngIf="produit" [src]="produit.image" alt="Produit Image">
            <div class="pull-right small-btn dropup">
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu animated fadeInLeft" data-close-onclick="true">
                    <li class="panel panel-default list-courses scrollable">
                        <div class="list-group m-t">
                            <div class="list-group-item" *ngFor="let liste of listes">
                                <span class="text-ellipsis m-l-n-sm m-t-n" data-toggle="tooltip" title="{{liste.nom}}" data-placement="left">
                                    <a (click)="actionToListe('+', liste.code, $event)" class="btn btn-product-cart-plus m-t" >
                                        <i class="fa fa-plus"></i>
                                        <ng-container *ngFor="let detailliste of liste.details; let i=index">
                                            <span class="badge badge-sm up bg-danger" *ngIf="detailliste.produit.code===produit.code">
                                                {{detailliste.quantite }}
                                            </span>
                                        </ng-container>
                                    </a>
                                    {{liste.nom}}
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pull-left btn-group-vertical">
                <button type="button" class="btn bg-white btn-product-cart-plus" (click)="actionToCommande('+')"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn bg-white disabled box-shadow" >
                    <span >{{ cartItem ? cartItem.quantity : 0}}</span>
                </button>
                <button type="button" [ngClass]=" cartItem ? cartItem.quantity > 0 ? '' : 'disabled' : 'disabled' " class="btn  bg-white btn-product-cart-minus" (click)="actionToCommande('-')"><i class="fa fa-minus"></i></button>
            </div>
            <div class="list-group">
                <div *ngIf="produit.description.length > 25" class="list-group-item text-ellipsis" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{produit.description}}">
                    <span>{{produit.designation}}</span>
                </div>
                <div *ngIf="produit.description.length <= 25" class="list-group-item text-ellipsis">
                    <span>{{produit.designation}}</span>
                </div>
                <div class="list-group-item clear"> {{produit.description}}</div>
                <div class="list-group-item clear"> Prix: {{produit.prix}} FCFA </div>
            </div>
        </div>
    </div>
</div>


