<div id="sidebar_form" class="m-b-lg animated fadeInRight hide" style="position:absolute;top:0;margin-left:68%;width: 32%;z-index: 2000;background: rgba(0, 0, 0, 0.2);">
    <div class="scrollable" style="height:50%;">
        <a href="#sidebar_form" data-toggle="class:hide" class="btn btn-sm pull-right">
            <strong><i class="fa fa-times i-4x text-white"></i></strong>
        </a>
        <div class="container" style="width:70%;margin: 0 auto;">
            <div class="row m-t-lg">
                <div class="col-sm-12 bg-white border-radius" style="margin: -15px 0px -5px 0px;">
                    <div class="row m-b bg-primary" style="padding-bottom: 15px; ">
                        <br>
                        <div class="m-t m-l m-r" >
                            <h3 class="m-t-none m-b pull-left text-white">Se connecter</h3>
                            <button data-dismiss="modal" class="btn btn-sm bg-white btn-rounded btn-icon pull-right"><i class="fa fa-sign-in"></i></button>
                        </div>
                    </div>
                    <form role="form" class="m-l m-r" #authForm="ngForm" (ngSubmit)="doAuthentificate()">
                        <br/>
                        <label lass="text-danger" *ngIf="errorLogin" style="color: red">{{errorLogin}}</label>
                        <div class="input-group" style="border: 1px solid #cbd5dd;">
                            <input type="email" class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Email/N°Téléphone" name="authLogin" [(ngModel)]="auth.login" required>
                            <span class="input-group-btn" >
                                <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-user"></i></button>
                            </span>
                        </div>
                        <div class="input-group m-t m-b" style="border: 1px solid #cbd5dd;">
                            <input type="password" class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Mot de passe" name="authPassword" [(ngModel)]="auth.password" required>
                            <span class="input-group-btn" >
                                <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-lock"></i></button>
                            </span>
                        </div>
                        <button type="submit" class=" btn btn-primary btn-block m-b-sm"><strong class="text-white">Connexion</strong></button>
                    </form>
                </div>
                <div class="col-sm-12">
                    <div class="row m-b bg-white">
                        <br/>
                        <a href="#" class="btn btn-primary col-sm-4 border-radius" style="padding: 20px;"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-info col-sm-4" style="padding: 20px;"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-danger col-sm-4" style="padding: 20px;"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row m-t-lg bg-primary">
                <div class="col-sm-12 bg-primary border-radius" style="margin: -15px 0px -15px 0px;">
                    <div class="row m-b" style="padding-bottom: 15px; ">
                        <br>
                        <div class="m-t m-l m-r" >
                            <h3 class="m-t-none m-l m-b pull-left text-white">S'inscrire</h3>
                            <button data-dismiss="modal" class="btn btn-sm bg-danger btn-rounded btn-icon pull-right m-r"><i class="fa fa-sign-in"></i></button>
                        </div>
                    </div>
                    <form role="form" class="m-l m-r text-center" #sidebarForm="ngForm" (ngSubmit)="doSave()">
                      <div class="form-group">
                            <div class="input-group" style="border: 1px solid #cbd5dd;">
                                <span class="input-group-btn" >
                                    <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-user"></i></button>
                                </span>
                                <input type="text" [(ngModel)]="client.nom"  name="userNom" required class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Nom d'utilisateur">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="border: 1px solid #cbd5dd;">
                                <span class="input-group-btn" >
                                    <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-envelope"></i></button>
                                </span>
                                <input type="email" [(ngModel)]="client.email" name="userEmail" required class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Adresse Mail">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="border: 1px solid #cbd5dd;">
                                <span class="input-group-btn" >
                                    <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-phone"></i></button>
                                </span>
                                <input type="text" [(ngModel)]="client.telephone" name="userTelephone" required class="form-control input-sm" style="border: 1px solid transparent;" placeholder="N° Téléphone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" style="border: 1px solid #cbd5dd;">
                                <span class="input-group-btn" >
                                    <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-lock"></i></button>
                                </span>
                                <input type="password" [(ngModel)]="client.password" name="userPassword" required class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Mot de passe">
                            </div>
                        </div>
                        <button type="submit" class=" btn bg-danger m-b-sm"><strong class="text-white">S'inscrire</strong></button>
                    </form>
                </div>
            </div>
            <br/>
        </div>
        <div class="dker">
            <div class="container">
                <div class="row m-t">
                    <div class="col-sm-12 text-left-xs">
                        <ul class="footermenu">
                            <b>
                                <li><a>Entreprise |</a></li>
                                <li>
                                    <a>CGU |</a>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a>33 800 00 00 |</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a>djibbril@societe.com</a>
                                </li>
                            </b>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>