<br/><br/><br/>
<div class="text-center m-t-xl"></div>
<div  id="rayons"  style="background-color: #e9eaec;">
    <div class="row">
        <br/><br />
        <div class="wrapsemibox">
            <div class="semiboxshadow text-center">
                <img src="assets/images/shp.png" class="img-responsive" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-xs-8">
                        <a routerLink="/liste" routerLinkActive="btn-primary active" class="btn btn-sm btn-default m-b-xs m-r" data-toggle="tooltip" data-placement="right" title="Mes listes"><i class="fa fa-th-large"></i> <strong class="hidden-xs">Mes Listes</strong></a>
                        <a routerLink="/historique" routerLinkActive="btn-primary active" class="btn btn-sm btn-default m-b-xs" data-toggle="tooltip" data-placement="right" title="Historique"><i class="fa fa-history"></i> <strong class="hidden-xs">Historique</strong></a>
                    </div>
                    <div class="col-sm-3 col-xs-4 text-right text-right-xs">
                        <div class="btn-group">
                            <div class="btn-group">
                                <a routerLink="/livraison" class="btn btn-lg btn-success border-radius card">
                                    <i class="fa fa-truck"></i> <strong class="hidden-xs">Livraison</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="text-center col-xs-12 m-t">
                        <div class="text-u-c">
                          <a href="#" class="btn btn-sm btn-primary m-r card">
                            <strong class="hidden-xs">Total :</strong> 20 000 Fcfa <i class="fa fa-book"></i>
                          </a>
                          <strong><span class="">Livré  Le </span>18/08/2017 à 15H30</strong>
                        </div>
                        <br/>
                        <ul class=" pagination pagination bg-primary m-t">
                            <li><a href="#"><i class="fa fa-chevron-left "></i></a></li>
                            <li><a href="#" >1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row m-b-lg">
                    <div class=" m-r m-l">
                        <ul class="list-group gutter list-group-lg list-group-sp sortable">
                            <li class="list-group-item bg-white card m-t-sm animated slideInUp">
                                <div class="row m-t-sm">
                                    <div class="col-sm-1 col-xs-6 text-center">
                                      <img class="" src="assets/images/PRODUITS/nescafe.png" style="height: 80px;">
                                    </div>
                                    <div class="col-sm-8 col-xs-6 text-center-xs">
                                      <div class="btn-group-vertical text-left text-center-xs text-uppercase">
                                        <p><strong>CAFE</strong></p>
                                        <p><strong>nescafe 150G</strong></p>
                                        <p><strong>citydia</strong></p>
                                      </div>
                                    </div>
                                  <div class="col-sm-1 text-center">
                                    <div class="btn-group-vertical m-t-n-sm">
                                      <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                                      <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                                      <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                                    </div>
                                  </div>
                                  <div class="col-sm-2 m-t-md text-right text-center-xs">
                                    <p class="m-r m-r-n-xs">
                                      <strong class="i-2x hidden-sm">500 Fcfa</strong>
                                      <strong class="visible-sm">500 Fcfa</strong>
                                    </p>
                                  </div>
                                </div>
                            </li>
                            <li class="list-group-item bg-white box-shadow card m-t-sm animated slideInUp" >
                              <div class="row m-t-sm">
                                <div class="col-sm-1 col-xs-6 text-center">
                                  <img class="" src="assets/images/PRODUITS/Huile.png" style="height: 80px;">
                                </div>
                                <div class="col-sm-8 col-xs-6 text-center-xs">
                                  <div class="btn-group-vertical text-left text-center-xs text-uppercase">
                                    <p><strong>HUILE 1</strong></p>
                                    <p><strong>LESSIEUR 5L</strong></p>
                                    <p><strong>SAKANAL</strong></p>
                                  </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                  <div class="btn-group-vertical m-t-n-sm">
                                    <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                                    <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                                  </div>
                                </div>
                                <div class="col-sm-2 m-t-md text-right text-center-xs">
                                  <p class="m-r m-r-n-xs">
                                    <strong class="i-2x hidden-sm">500 Fcfa</strong>
                                    <strong class="visible-sm">500 Fcfa</strong>
                                  </p>
                                </div>
                              </div>
                            </li>

                            <li class="list-group-item bg-white box-shadow card m-t-sm animated slideInUp">
                              <div class="row m-t-sm">
                                <div class="col-sm-1 text-center">
                                  <img class="" src="assets/images/PRODUITS/lessive.png" style="height: 80px;">
                                </div>
                                <div class="col-sm-8 text-center-xs">
                                  <div class="btn-group-vertical text-left text-center-xs text-uppercase">
                                    <p><strong>LESSIVE</strong></p>
                                    <p><strong>MADAR 1.5L</strong></p>
                                    <p><strong>marymarket</strong></p>
                                  </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                  <div class="btn-group-vertical m-t-n-sm">
                                    <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                                    <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                                  </div>
                                </div>
                                <div class="col-sm-2 m-t-md text-right text-center-xs">
                                  <p class="m-r m-r-n-xs">
                                    <strong class="i-2x hidden-sm">500 Fcfa</strong>
                                    <strong class="visible-sm">500 Fcfa</strong>
                                  </p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item bg-white box-shadow card m-t-sm animated slideInUp">
                              <div class="row m-t-sm">
                                <div class="col-sm-1 text-center">
                                  <img class="" src="assets/images/PRODUITS/sucre.png" style="height: 80px;">
                                </div>
                                <div class="col-sm-8 text-center-xs">
                                  <div class="btn-group-vertical text-left text-center-xs text-uppercase">
                                    <p><strong>SUCRE</strong></p>
                                    <p><strong>SAINT LOUIS</strong></p>
                                    <p><strong>AUCHAN</strong></p>
                                  </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                  <div class="btn-group-vertical m-t-n-sm">
                                    <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                                    <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                                  </div>
                                </div>
                                <div class="col-sm-2 m-t-md text-right text-center-xs">
                                  <p class="m-r m-r-n-xs">
                                    <strong class="i-2x hidden-sm">500 Fcfa</strong>
                                    <strong class="visible-sm">500 Fcfa</strong>
                                  </p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item bg-white box-shadow card m-t-sm animated slideInUp">
                              <div class="row m-t-sm">
                                <div class="col-sm-1 text-center">
                                  <img class="" src="assets/images/PRODUITS/chips.png" style="height: 80px;">
                                </div>
                                <div class="col-sm-8 text-center-xs">
                                  <div class="btn-group-vertical text-left text-center-xs text-uppercase">
                                    <p><strong>CHIPS</strong></p>
                                    <p><strong>PRINGLES</strong></p>
                                    <p><strong>casino</strong></p>
                                  </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                  <div class="btn-group-vertical m-t-n-sm">
                                    <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                                    <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                                  </div>
                                </div>
                                <div class="col-sm-2 m-t-md text-right text-center-xs">
                                  <p class="m-r m-r-n-xs">
                                    <strong class="i-2x hidden-sm">500 Fcfa</strong>
                                    <strong class="visible-sm">500 Fcfa</strong>
                                  </p>
                                </div>
                              </div>
                            </li>
                            <li class="list-group-item bg-white box-shadow card m-t-sm animated slideInUp">
                              <div class="row m-t-sm">
                                <div class="col-sm-1 text-center">
                                  <img class="" src="assets/images/PRODUITS/pates.png" style="height: 80px;">
                                </div>
                                <div class="col-sm-8 text-center-xs">
                                  <div class="btn-group-vertical text-left text-center-xs text-uppercase">
                                    <p><strong>pattes</strong></p>
                                    <p><strong>spaguetti</strong></p>
                                    <p><strong>citydia</strong></p>
                                  </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                  <div class="btn-group-vertical m-t-n-sm">
                                    <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                                    <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                                  </div>
                                </div>
                                <div class="col-sm-2 m-t-md text-right text-center-xs">
                                  <p class="m-r m-r-n-xs">
                                    <strong class="i-2x hidden-sm">500 Fcfa</strong>
                                    <strong class="visible-sm">500 Fcfa</strong>
                                  </p>
                                </div>
                              </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class=" btn-group pull-right m-b-n-lg">
                        <button type="button" class="btn btn-sm btn-dark btn-rounded m-r box-shadow-materialize"><i class="fa fa-refresh"></i> <span class="hidden-xs">Actualiser</span></button>
                        <button type="button" class="btn btn-sm btn-dark btn-rounded m-r  box-shadow-materialize"><i class="fa fa-copy"></i> <span class="hidden-xs">Copier dans la liste</span></button>
                        <button type="button" class="btn btn-sm btn-dark btn-rounded box-shadow-materialize"><i class="fa fa-times"></i> <span class="hidden-xs">Supprimer la liste</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>