<br/><br/><br/>
<div class="text-center m-t-xl"></div>
<div  id="rayons"  style="background-color: #e9eaec;">
    <div class="row">
        <br/><br />
        <div class="wrapsemibox">
            <div class="semiboxshadow text-center">
                <img [src]="'assets/images/shp.png'" class="img-responsive" alt="">
            </div>
            <div class="container">
                <div class="row animated fadeInDown">
                    <div class="col-sm-9 col-xs-8">
                        <a routerLink="/liste" class="btn btn-sm btn-default m-b-xs m-r" data-toggle="tooltip" data-placement="right" title="Mes listes"><i class="fa fa-th-large"></i> <strong class="hidden-xs">Mes Listes</strong></a>
                        <a routerLink="/historique" class="btn btn-sm btn-primary m-b-xs" data-toggle="tooltip" data-placement="right" title="Historique"><i class="fa fa-history"></i> <strong class="hidden-xs">Historique</strong></a>
                    </div>
                    <div class="col-sm-3 col-xs-4 text-right text-right-xs">
                        <div class="btn-group">
                            <div class="btn-group">
                                <a routerLink="/livraison" class="btn btn-lg btn-success border-radius card">
                                    <i class="fa fa-truck"></i> <strong class="hidden-xs">Livraison</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="text-center col-xs-12 m-t">
                        <div class="text-u-c">
                          <a href="#" class="btn btn-sm btn-primary m-r card">
                            <strong class="hidden-xs">Total : {{total}} Fcfa</strong>  <i class="fa fa-book"></i>
                          </a>
                          <strong><span class="">Livré  Le </span>18/08/2017 à 15H30</strong>
                        </div>
                        <br/>
                        <ul class=" pagination pagination bg-primary m-t">
                            <li ><a><i class="fa fa-chevron-left "></i></a></li>
                            <li *ngFor="let page of pages" class="cursor-pointer" [ngClass]="{'active': this.pagination === page + 1 }">
                                <a (click)="setpagination(page+1)" >{{page+1}}</a>
                            </li>
                            <li><a><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row m-b-lg">
                    <div class=" m-r m-l">
                        <ul class="list-group gutter list-group-lg list-group-sp sortable">

                            <app-product-histo *ngFor="let detail of details | slice:(pagination - 1):(pagination * parpages )" [detail]="detail" [liste]="false"></app-product-histo>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class=" btn-group pull-right m-b-n-lg">
                        <button type="button" class="btn btn-sm btn-dark btn-rounded m-r box-shadow-materialize"><i class="fa fa-refresh"></i> <span class="hidden-xs">Actualiser</span></button>
                        <button type="button" class="btn btn-sm btn-dark btn-rounded m-r  box-shadow-materialize"><i class="fa fa-copy"></i> <span class="hidden-xs">Copier dans la liste</span></button>
                        <button type="button" class="btn btn-sm btn-dark btn-rounded box-shadow-materialize"><i class="fa fa-times"></i> <span class="hidden-xs">Supprimer la liste</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>