<footer id="footer" class="bg-dark">
    <div class="dker">
        <div class="container">
            <div class="row m-t">
                <div class="col-sm-4 col-xs-4 pull-left">
                    <span class="hidden-xs hidden-sm m-r">Suivez-nous sur</span>
                    <a href="#" class="btn btn-icon btn-rounded btn-primary m-r">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-rounded btn-info m-r">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-icon btn-rounded btn-danger">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
                <div class="col-sm-8 col-xs-8 text-center-xs">
                    <ul class="footermenu ">
                        <li><a href="?">Entreprise |</a></li>
                        <li>
                            <a>
                                <span class="hidden-xs hidden-sm">Conditions Générales d'Utilisation |</span>
                                <span class="visible-xs visible-sm">CGU |</span>
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a>33 800 00 00 |</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a>djibbril@societe.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>