<br/><br/><br/>
<div class="text-center m-t-xl"></div>
<div  id="rayons"  style="background-color: #e9eaec;">
    <div class="row">
        <br/><br />
        <div class="wrapsemibox">
            <div class="semiboxshadow text-center">
                <img [src]="'assets/images/shp.png'" class="img-responsive" alt="">
            </div>
            <div class="container">
                <h1 class="fontpacifico text-danger text-center text-u-l ">Zone d'administration</h1>
                <div class="row m-t-lg m-b-lg">
                    <section class="m-t-md panel panel-primary box-shadow border-radius">
                        <header class="panel-heading text-right bg-primary">
                            <ul class="nav nav-tabs bg-primary pull-left">
                                <li>
                                    <a href="#informations" data-toggle="tab">
                                        <i class="fa fa-info-circle"></i>
                                        <span class="hidden-xs">INFORMATIONS</span>
                                    </a>
                                </li>
                                <li class="active no-borders">
                                    <a href="#profile-2" data-toggle="tab">
                                        <i class="fa fa-user text-muted"></i>
                                        <span class="hidden-xs">PARAMÈTRES</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#promos" data-toggle="tab">
                                        <i class="fa fa-shopping-cart text-muted"></i>
                                        <span class="hidden-xs">PROMOS</span>
                                    </a>
                                </li>
                            </ul>
                            <span class="text-u-c text-ellipsis">paramétrage</span>
                        </header>
                        <div class="panel-body bg-primary">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="informations">informations</div>
                                <div class="tab-pane fade active in " id="profile-2">
                                    <div class="row text-center text-white text-u-c m-t-lg">
                                        <div class="col-sm-12"><h1>PARAMÈTRES DE CONFIDENTIALITE</h1></div>
                                        <div class="container">
                                            <form role="form" class="m-l-lg m-r-lg m-t-lg text-center" #sidebarForm="ngForm" (ngSubmit)="doSave()">
                                                <div class="col-sm-6">
                                                    <div class="form-group m-t-lg">
                                                        <label class="pull-left col-xs-12 text-left m-l-n">Mot de passe actuel</label>
                                                        <div class="col-sm-12 input-group" style="border: 1px solid #cbd5dd;">
                                                            <input type="password" class="form-control input-sm" [(ngModel)]="password.current" name="passwordOld" [readonly]="validation > 0" style="border: 1px solid transparent;" placeholder="Mot de passe actuel">
                                                            <span class="input-group-btn" (click)="verifpassword($event)" >
                                                                <button class="btn btn-sm btn-icon" [ngClass]='{ "bg-danger" : (validation === 0), "bg-primary" : (validation > 0) }'>
                                                                    <i class="fa fa-key text-white"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-t-lg">
                                                        <label class="pull-left col-xs-12 text-left m-l-n">Nouveau mot de passe</label>
                                                        <div class="col-sm-12 input-group" style="border: 1px solid #cbd5dd;">
                                                            <input type="password" class="form-control input-sm" [(ngModel)]="password.new" name="passwordCurrent" (ngModelChange)="samepasswordChange()" [readonly]="(validation ===0)" placeholder="Nouveau mot de passe">
                                                            <span class="input-group-btn" >
                                                                <button class="btn btn-sm btn-icon" [ngClass]='{ "bg-danger" : (validation === 1), "bg-primary" : (validation > 1) }'>
                                                                    <i class="fa fa-keyboard-o text-white"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group m-t-lg">
                                                        <label class="pull-left col-xs-12 text-left m-l-n">Répéter le nouveau mot de passe</label>
                                                        <div class="col-sm-12 input-group" style="border: 1px solid #cbd5dd;">
                                                            <input type="password" class="form-control input-sm" [(ngModel)]="password.confirm" name="passwordConfirm" (ngModelChange)="samepasswordChange()" [readonly]="(validation ===0)" placeholder="Répéter le nouveau mot de passe">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-sm btn-icon" [ngClass]='{ "bg-danger" : (validation === 1), "bg-primary" : (validation > 1) }'>
                                                                    <i class="fa fa-keyboard-o text-white"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-t-lg">
                                                        <label class="pull-left col-xs-12 text-left m-l-n">Confirmer votre Adresse email</label>
                                                        <div class="col-sm-12 input-group" style="border: 1px solid #cbd5dd;">
                                                            <input type="email" class="form-control input-sm" style="border: 1px solid transparent;" [(ngModel)]="password.email" name="passwordEmail" (ngModelChange)="verifemail()" [readonly]="(validation <= 1)" placeholder="Adresse email de réception">
                                                            <span class="input-group-btn" >
                                                                <button class="btn btn-sm btn-icon" [ngClass]='{ "bg-danger" : (validation === 2), "bg-primary" : (validation > 2) }'>
                                                                    <i class="fa  text-white" [ngClass]='{ "fa-envelope-open" : (validation != 3), "fa-envelope" : (validation === 3) }' ></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pull-right ">
                                                    <div class="col-sm-12 text-right">
                                                        <div class="btn-group m-t-lg m-b-lg">
                                                            <a href="javascript:void()"   class="btn btn-md btn-danger border-radius m-r-lg" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                                                <i class="fa fa-times"></i> <span class="hidden-xs">annuler</span>
                                                            </a>
                                                            <button type="submit" class="btn btn-md btn-danger border-radius" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                                                <i class="fa fa-save"></i> <span class="hidden-xs">sauvegarder</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="promos">promos</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>