.space-body{
    margin-top: 70px;
    padding-top: 15px;
    margin-bottom: 30px;
    background-color: #e9eaec;
}

.product-block {
    padding-right: 30px;
    padding-left: 15px;
}

.img-product{
    padding-right: 0;
    margin-bottom: 15px;
}

.img-product .panel{
    width: 100%;
    border-radius: 0;
    position: relative;
}

.img-product .panel:hover{
    cursor: pointer;
}

.panel .panel-body img{
    width: 100%;
    height: 200px;
}


.floation-img{
    display: none;
}
.panel:hover .floation-img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 60%;
    z-index: 4;
    width: 100%;
    text-align: right;
    padding: 0 10px;
    margin: 0;
}

.rayon-logo{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40%;
    height: 40%;
    text-align: center;
    border-radius: 50%;
}

.rayon-logo img{
    width: 90%;
    height: 90%;
    margin: auto;
}


.product-section .panel .list-group{
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
}

.pagination{
    margin-top: 0;
    margin-bottom: 15px;
}

.product-section .panel-footer{
    padding: 0;
    min-height: 126px;
    border-top: 0;
    overflow: hidden;
}

.panel .list-group .list-group-item:first-child{
    border-radius: 0;
}

.panel-footer .list-group .list-group-item {
    height: 42px;
    border-radius: 0;
    border: 0;
    line-height: 42px;
    padding-top: 0;
    padding-bottom: 0;
}

.panel-footer .btn, .panel-footer .form-control{
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 0;
    box-sizing: border-box;
    border: 1px solid #f3f5f7;
    width: 100%;
    margin-bottom: -1px;
    text-align: center;
    border: 0;
}

.btn-product-cart-plus {
    color: #0f9d58;
}

.btn-product-cart-minus {
    color: #F44336;;
}



.panel > .list-group:first-child .list-group-item:first-child {
    border-radius: 0;
}


.small-btn a{
    padding: 1px 10px;
    border: 0;
    box-shadow: none;
}

.rayon-block{
    padding-right: 0px;
    margin-bottom: 10px;
    max-height: 786px;
}

.rayon-block .rayon-row{
    padding: 0 7px;
    margin-bottom: 5px;
    text-align: center;
}
.rayon-row .content{
    background-color: #ffffff;
    height: 100%;
    padding: 15px 0;
    border: 1px solid #eaeef1;
    box-shadow: 0 1px 1px #eaeef1;
}
.content:hover {
    background-color: rgba(100, 181, 246, 0.38);
    cursor: pointer;
}

.rayon-row .alert{
    background-color: #FFF;
    margin: auto;
    height: 28px;
    width: 80%;
    text-align: center;
    padding: 5px 0;
    border: 0;
    box-shadow: none;
    margin-top: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
}


.rayon-row img{
    width: 80%;
    height: 120px;
}

.rayon-img{
    padding: 2%;
    border-radius: 0;
    background-color: #ffffff;
    text-align: center;
}

.rayon-img img{
    width: 100%;
    height: 100%;
}

.rayon-info .list-group{
    max-height: 658px;
}

.rayon-info .panel{
    margin-bottom: 0;
}

.img-product:nth-child(odd) .pull-right > .dropdown-menu {
    left: 3.5rem;
    top: -200%;
}
.img-product:nth-child(even) .pull-right > .dropdown-menu{
    right: 3.5rem;
    top: -200%;
}

.list-courses, .list-courses > .list-group .list-group-item{
    width: 100%;
}

.list-courses .list-group{
    max-height: 200px;
    width: 100%;
}

.popover, .popover-content, .popover-title{
    border-radius: 0;
}

@media screen and (max-width: 1200px) {
    .product-section{
        padding-left: 15px;
    }
    .rayon-block{
        padding-left: 0;
        max-height: 600px;
        min-height: 100px;
        margin-bottom: 0;
    }

    .rayon-info .list-group{
        height: 200px;
    }

    .rayon-block .rayon-row {
        padding-left: 0;
        padding-right: 15px;
        margin-bottom: 15px;
    }

    .rayon-info{
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .product-block{
        padding-right: 30px;
        padding-left: 0;
        padding-top: 15px;
    }
    .popover{
        width: 170px;
    }
    .popover-content{
        width: 140px;
    }
    .popover-content select{
        width: 70px;
    }
    .img-product{
        margin-top: -15px;
    }
}


@media screen and (max-width: 500px){

    .rayon-info .list-group{
        max-height: 200px;
    }
    .img-product{
        width: 100%;
        margin-right: 7px;
    }

    .img-product:nth-child(odd) .pull-right > .dropdown-menu{
        left: -17rem;
        top: -200%;
        width: 100%;
    }
}