<div class="col-xs-12 col-sm-6 col-md-4 animated zoomIn">
    <section class="panel b-a card">
        <div class="panel-heading no-border bg-primary lt">
            <div class=" pull-right  dk m-t-none btn btn-sm btn-rounded text-white" data-toggle="tooltip" data-placement="top" title="Nbre de produits" style="margin-top: 5px;"><strong>{{liste.details.length}}</strong> <i class="fa fa-product-hunt"></i></div>
            <a href="#" class="h4 text-lt m-t-sm m-b-sm block font-bold">{{liste.nom}}</a>
        </div>
        <div class="panel-body">
            <div class="">
                <ul class="list-group gutter list-group-lg list-group-sp sortable scrollable" style="height: 200px;">
                    <app-product-liste *ngFor="let detailliste of this.liste.details" [detaillisteId]="detailliste.id" [list-card]="liste"></app-product-liste>
                </ul>
            </div>
        </div>
        <div class="clearfix panel-footer">
            <div class="text-center text-black">Total: <span>{{ this.total }} Fcfa</span></div>
        </div>
    </section>
</div>