<div class="modal fade" id="login_form">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 bg-white border-radius" style="margin: -15px 0px -5px 0px;">
            <div class="row m-b bg-primary" style="padding-bottom: 15px; ">
              <br>
              <div class="m-t m-l m-r" >
                <h3 class="m-t-none m-b pull-left text-white">Se connecter</h3>
                <button data-dismiss="modal" class="btn btn-sm bg-white btn-rounded btn-icon pull-right"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <form role="form" class="m-l m-r">
              <br/>
              <div class="input-group" style="border: 1px solid #cbd5dd;">
                <input type="email" class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Email/N°Téléphone">
                <span class="input-group-btn" >
                                            <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-user"></i></button>
                                        </span>
              </div>
              <div class="input-group m-t m-b" style="border: 1px solid #cbd5dd;">
                <input type="password" class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Mot de passe">
                <span class="input-group-btn" >
                                            <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-lock"></i></button>
                                        </span>
              </div>
              <a href="#" class="btn btn-primary btn-block m-b-sm">Connexion</a>
            </form>
          </div>
          <div class="col-sm-12" style="margin-bottom: -30px;">
            <div class="row m-b bg-white">
              <br/>
              <a href="#" class="btn btn-primary col-sm-4 border-radius" style="padding: 20px;"><i class="fa fa-facebook"></i></a>
              <a href="#" class="btn btn-info col-sm-4" style="padding: 20px;"><i class="fa fa-twitter"></i></a>
              <a href="#" class="btn btn-danger col-sm-4" style="padding: 20px;"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Register Form-->
<div class="modal fade" id="register_form">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row bg-primary">
          <div class="col-sm-12 bg-primary border-radius" style="margin: -15px 0px -15px 0px;">
            <div class="row m-b" style="padding-bottom: 15px; ">
              <br>
              <div class="m-t m-l m-r" >
                <h3 class="m-t-none m-l m-b pull-left text-white">S'inscrire</h3>
                <button data-dismiss="modal" class="btn btn-sm bg-danger btn-rounded btn-icon pull-right m-r"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <form role="form" class="m-l m-r text-center">
              <div class="form-group">
                <div class="input-group" style="border: 1px solid #cbd5dd;">
                                            <span class="input-group-btn" >
                                                <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-user"></i></button>
                                            </span>
                  <input type="text" class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Nom d'utilisateur">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group" style="border: 1px solid #cbd5dd;">
                                            <span class="input-group-btn" >
                                                <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-envelope"></i></button>
                                            </span>
                  <input type="email" class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Adresse Mail">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group" style="border: 1px solid #cbd5dd;">
                                            <span class="input-group-btn" >
                                                <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-phone"></i></button>
                                            </span>
                  <input type="number" class="form-control input-sm" style="border: 1px solid transparent;" placeholder="N° Téléphone">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group" style="border: 1px solid #cbd5dd;">
                                            <span class="input-group-btn" >
                                                <button class="btn btn-sm bg-white b-white btn-icon"><i class="fa fa-lock"></i></button>
                                            </span>
                  <input type="number" class="form-control input-sm" style="border: 1px solid transparent;" placeholder="Mot de passe">
                </div>
              </div>
              <a href="#" class=" btn bg-danger m-b-sm">S'inscrire</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>