<br/><br/><br/>
<div class="text-center m-t-xl"></div>
<div  id="rayons"  style="background-color: #e9eaec;">
  <div class="row">
    <br/><br />
    <div class="wrapsemibox">
      <div class="semiboxshadow text-center">
        <img src="assets/assets/assets/images/shp.png" class="img-responsive" alt="">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="Page navigation">
              <ul class="pagination pull-right">
                <li class="disabled">
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row product-section">
          <div class="col-lg-2 col-md-12 rayon-block scrollable">
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4 ">
              <div class="content box-shadow-materialize" routerLink="/produits-surface/extra-market">
                <img src="assets/images/CHAINES/extra.png" alt="">
                <div class="alert border-radius card">
                  Extra Supermarket
                </div>
              </div>
            </div>
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4 ">
              <div class="content box-shadow-materialize" >
                <img src="assets/images/CHAINES/favicon.ico" alt="">
                <div class="alert border-radius">
                  Auchan
                </div>
              </div>
            </div>
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4">
              <div class="content box-shadow-materialize" >
                <img src="assets/images/CHAINES/casino.png" alt="">
                <div class="alert border-radius">
                  Casino
                </div>
              </div>
            </div>
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4">
              <div class="content box-shadow-materialize" >
                <img src="assets/images/CHAINES/citydia.jpg" alt="">
                <div class="alert border-radius">
                  Citydia
                </div>
              </div>
            </div>
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4">
              <div class="content box-shadow-materialize" >
                <img src="assets/images/CHAINES/carrefour.png" alt="">
                <div class="alert border-radius">
                  Carrefour
                </div>
              </div>
            </div>
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4">
              <div class="content box-shadow-materialize" >
                <img src="assets/images/CHAINES/Euromarche_logo.png" alt="">
                <div class="alert border-radius">
                  Euro Marche
                </div>
              </div>
            </div>
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4">
              <div class="content box-shadow-materialize" >
                <img src="assets/images/CHAINES/globus.png" alt="">
                <div class="alert border-radius ">
                  Globus
                </div>
              </div>
            </div>
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4">
              <div class="content box-shadow-materialize" >
                <img src="assets/images/CHAINES/mousquetaires.png" alt="">
                <div class="alert border-radius">
                  Les mousquetaires
                </div>
              </div>
            </div>
            <div class="rayon-row col-lg-12 col-md-2 col-xs-4">
              <div class="content box-shadow-materialize" >
                <img src="assets/images/CHAINES/Logo_Champion.png" alt="">
                <div class="alert border-radius">
                  Champion
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-12 product-block">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-product">
                <div class="panel panel-default card border-card ">
                  <div class="floation-img">
                    <div class="rayon-logo">
                      <img src="assets/images/CHAINES/Logo_Champion.png" alt="">
                    </div>
                  </div>
                  <div class="panel-body">
                    <img src="assets/images/PRODUITS/halib.png" alt="Produit Image">
                    <div class="pull-right small-btn">
                      <a class="btn btn-default active"
                         data-toggle="popover" data-html="true" title=""
                         data-content='<div class="form-inline" style="width: 140px; text-align: center;"><div class="form-group"><select class="form-control bg-primary" style="width: 70px;"><option>List</option><option>Liste course 1</option><option>Liste course 2</option><option>Liste course 3</option><option>Liste course 4</option></select>&nbsp;<button class="btn btn-default"><i class="fa fa-plus"></i></button></div></div>'
                         data-original-title='<button type="button" class="close pull-right" data-dismiss="popover"><i class="fa fa-times-circle"></i></button><span class="text-black">Ajout a la liste</span>'>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="pull-left btn-group-vertical">
                      <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                      <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                      <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="list-group">
                      <div class="list-group-item text-ellipsis" data-toggle="tooltip" data-placement="bottom" data-html="true" title="HHHHHHHHHHHHHHHHHHHHH<br/>HHHHHHHHHHHHHH">
                        <span>Lait en poudre ddd ddd dd dd d d d d d d d d d d d</span>
                      </div>
                      <div class="list-group-item clear"> Halib 25g</div>
                      <div class="list-group-item clear"> Prix: 1.500 FCFA </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-product">
                <div class="panel panel-default card border-card">
                  <div class="floation-img">
                    <div class="rayon-logo">
                      <img src="assets/images/CHAINES/favicon.ico" alt="">
                    </div>
                  </div>
                  <div class="panel-body">
                    <img src="assets/images/nutella.png" alt="Produit Image">
                    <div class="pull-right small-btn dropup">
                      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu animated fadeInLeft">
                        <li class="panel panel-default list-courses">
                          <div class="list-group">
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 1</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 2</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 3</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="pull-left btn-group-vertical">
                      <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                      <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                      <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="list-group">
                      <div class="list-group-item text-ellipsis" data-toggle="tooltip" data-placement="bottom" data-html="true" title="HHHHHHHHHHHHHHHHHHHHH<br/>HHHHHHHHHHHHHH">
                        <span>Lait en poudre ddd ddd dd dd d d d d d d d d d d d</span>
                      </div>
                      <div class="list-group-item clear"> Halib 25g</div>
                      <div class="list-group-item clear"> Prix: 1.500 FCFA </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-product">
                <div class="panel panel-default card border-card">
                  <div class="floation-img">
                    <div class="rayon-logo">
                      <img src="assets/images/CHAINES/citydia.jpg" alt="">
                    </div>
                  </div>
                  <div class="panel-body">
                    <img src="assets/images/nutella.png" alt="Produit Image">
                    <div class="pull-right small-btn dropup">
                      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu animated fadeInLeft">
                        <li class="panel panel-default list-courses">
                          <div class="list-group">
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 1</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 2</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 3</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="pull-left btn-group-vertical">
                      <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                      <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                      <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="list-group">
                      <div class="list-group-item text-ellipsis" data-toggle="tooltip" data-placement="bottom" data-html="true" title="HHHHHHHHHHHHHHHHHHHHH<br/>HHHHHHHHHHHHHH">
                        <span>Lait en poudre ddd ddd dd dd d d d d d d d d d d d</span>
                      </div>
                      <div class="list-group-item clear"> Halib 25g</div>
                      <div class="list-group-item clear"> Prix: 1.500 FCFA </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-product">
                <div class="panel panel-default card border-card">
                  <div class="floation-img">
                    <div class="rayon-logo">
                      <img src="assets/images/CHAINES/Logo_Champion.png" alt="">
                    </div>
                  </div>
                  <div class="panel-body">
                    <img src="assets/images/nutella.png" alt="Produit Image">
                    <div class="pull-right small-btn dropup">
                      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu animated fadeInLeft">
                        <li class="panel panel-default list-courses">
                          <div class="list-group">
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 1</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 2</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 3</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="pull-left btn-group-vertical">
                      <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                      <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                      <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="list-group">
                      <div class="list-group-item text-ellipsis" data-toggle="tooltip" data-placement="bottom" data-html="true" title="HHHHHHHHHHHHHHHHHHHHH<br/>HHHHHHHHHHHHHH">
                        <span>Lait en poudre ddd ddd dd dd d d d d d d d d d d d</span>
                      </div>
                      <div class="list-group-item clear"> Halib 25g</div>
                      <div class="list-group-item clear"> Prix: 1.500 FCFA </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-product">
                <div class="panel panel-default card border-card">
                  <div class="floation-img">
                    <div class="rayon-logo">
                      <img src="assets/images/CHAINES/Logo_Champion.png" alt="">
                    </div>
                  </div>
                  <div class="panel-body">
                    <img src="assets/images/nutella.png" alt="Produit Image">
                    <div class="pull-right small-btn dropup">
                      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu animated fadeInLeft">
                        <li class="panel panel-default list-courses">
                          <div class="list-group">
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 1</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 2</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 3</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="pull-left btn-group-vertical">
                      <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                      <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                      <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="list-group">
                      <div class="list-group-item text-ellipsis" data-toggle="tooltip" data-placement="bottom" data-html="true" title="HHHHHHHHHHHHHHHHHHHHH<br/>HHHHHHHHHHHHHH">
                        <span>Lait en poudre ddd ddd dd dd d d d d d d d d d d d</span>
                      </div>
                      <div class="list-group-item clear"> Halib 25g</div>
                      <div class="list-group-item clear"> Prix: 1.500 FCFA </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-product">
                <div class="panel panel-default card border-card">
                  <div class="floation-img">
                    <div class="rayon-logo">
                      <img src="assets/images/CHAINES/Logo_Champion.png" alt="">
                    </div>
                  </div>
                  <div class="panel-body">
                    <img src="assets/images/nutella.png" alt="Produit Image">
                    <div class="pull-right small-btn dropup">
                      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu animated fadeInLeft">
                        <li class="panel panel-default list-courses">
                          <div class="list-group">
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 1</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 2</span>
                            </div>
                            <div class="list-group-item">
                              <a href="javascript:void(0);" class="btn btn-default">
                                <i class="fa fa-plus"></i>
                              </a>
                              <span>Liste courses 3</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="pull-left btn-group-vertical">
                      <button type="button" class="btn bg-white btn-product-cart-plus"><i class="fa fa-plus"></i></button>
                      <button type="button" class="btn bg-white disabled box-shadow" >0</button>
                      <button type="button" class="btn  bg-white btn-product-cart-minus"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="list-group">
                      <div class="list-group-item text-ellipsis" data-toggle="tooltip" data-placement="bottom" data-html="true" title="HHHHHHHHHHHHHHHHHHHHH<br/>HHHHHHHHHHHHHH">
                        <span>Lait en poudre ddd ddd dd dd d d d d d d d d d d d</span>
                      </div>
                      <div class="list-group-item clear"> Halib 25g</div>
                      <div class="list-group-item clear"> Prix: 1.500 FCFA </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="Page navigation">
              <ul class="pagination pull-right">
                <li class="disabled">
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>