<br/><br/><br/>
<div class="text-center m-t-xl"></div>
<div  id="rayons"  style="background-color: #e9eaec;">
    <div class="row">
        <br/><br />
        <div class="wrapsemibox">
            <div class="semiboxshadow text-center">
              <img [src]="'assets/images/shp.png'" class="img-responsive" alt="">
            </div>
            <div class="container animated zoomIn">
                <section class="row m-b-lg">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="btn-group">
                                <a routerLink="/liste" routerLinkActive="btn-primary active" class="btn btn-sm btn-default m-b-xs m-r" data-toggle="tooltip" data-placement="right" title="Mes listes"><i class="fa fa-th-large"></i> <strong class="hidden-xs">Mes Listes</strong></a>
                                <a routerLink="/historique" routerLinkActive="btn-primary active" class="btn btn-sm btn-default m-b-xs" data-toggle="tooltip" data-placement="right" title="Historique"><i class="fa fa-history"></i> <strong class="hidden-xs">Historique</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-lg" style="padding: 15px">
                        <fieldset class="col-lg-12 col-md-12 col-xs-12 form-horizontal livraison-form" style="border: 1px solid #eeeeee;padding-bottom: 15px">
                            <div class="row text-center">
                                  <h3 class="text-success-dk">LIVRAISON</h3>
                                  <h6>Bonjour Djibril, Merci de me renseigner</h6>
                            </div>
                            <br>
                            <div class="row padder">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="phone" class="col-xs-4">N° Téléphone</label>
                                        <div class="col-xs-8">
                                        <input type="text" class="form-control" name="phone" id="phone" placeholder="+221781781542">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="destinataire" class="col-xs-4">Remettre la course à</label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" name="destinataire" id="destinataire" placeholder="Nom du destinataire">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="adresse" class="col-xs-4">Adresse de livraison</label>
                                            <div class="col-xs-8">
                                            <input type="text" class="form-control" name="adresse" id="adresse" placeholder="Maristes villa n°0000">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4">Paiement</label>
                                        <div class="col-xs-8">
                                            <label>
                                                <input type="checkbox" name="paiement" id="paiement"> Paiement a la livraison
                                            </label>
                                            <div class="row paiement-type">
                                                <div class="btn btn-default no-radius">
                                                    <img src="assets/images/visa.png" alt="">
                                                </div>&nbsp;
                                                <div class="btn btn-default no-radius">
                                                    <img src="assets/images/paypal.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-xs-4"><span class="text-right">Achats</span></label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" disabled="true" value="5500">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4">
                                            <span class="text-right">Livraison</span>
                                        </label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" disabled="true" value="2500">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4"><span class="text-right">Promo</span></label>
                                        <div class="col-xs-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="code">
                                                <div class="input-group-addon btn btn-default">ok</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-4"><span class="text-right">Total course</span></label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" disabled="true" name="total" id="total" value="8000">
                                        </div>
                                    </div>
                                  </div>
                            </div>
                            <div class="row btn-section text-center">
                                <button class="btn btn-default">Valider</button>
                            </div>
                        </fieldset>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>